<h1>
    Aula 6 - Passar propriedade
</h1>

<h3>é basicamente quando manda um atributo no react golden = "chave" golden "chave"</h3>

<p> No video ele tirou o card e colocouq em outro componente, ai dentro do ngFor ele colocou chamando esse componente com um prorpiety biding estilizado, em relação a variavel que seria utilizada
    nese caso o golden; olhar a aula 4 no ngFor
    <span> [produtos] = "produtos", foi colocado no "app-aula6"</span>

    <span> em aula6.ts usa o @Input e coloca a variavel produto lá</span>
</p>

<p>ts:

    @Input produto: "chave"name: string, preco: number"chave"

    e pronto
</p>
