<h1> DataBidings </h1>

<h3>String Interpolation Exemple</h3>

<p>
    Os dados ficam de formaa dinamica no site, sujeitos a mudar seus valores conforme o que se pede <br/>
    É tipo o golden.name que usa no React JS, porém sao duas chaves <br/>
    <br/>
    os dados ficam no typescript -> <span>{{palavra}} </span>
</p>

<h3>Propriety Binding</h3>

<p>
    Diferente do String Interpolation usa o fromato "[caracteristica] = "qqr atributo, porém tem que ser booleano" "
    <br/>
    <button [disabled]="!permite" (click)="init()" >Click-me</button>
</p>

<h3>Event Biding</h3>

<p>
    eventos/ações em JS, diferente dos demais onClick, ou onclick fica assim: "(click) = "função()" "

    <button (click)="trade()" >Click-me</button>
    <input (input)="eventInput($event)">

</p>

<h3>Two-Way DataBiding</h3>

<p>
    precisa do formsModule no angular.module <br/>
    O input ja vem preenchida com o valor da variável
    {{email}} <br/>
    <input placeholder="email" [(ngModel)] = "email"/> 
</p>