<h1>Aula 4 - Directives -</h1>
<h2> IF</h2>

<h3>
    *ngIf
</h3>

<p> usa na tag> "*ngIf = "condição/função em bool" "</p>

<div>

    <p><span *ngIf="emailSubmit">email enviado com sucesso</span>{{email}}</p> <br/>
    <input (input)="tradeEmail($event)"/>
    <button (click)="onSubmit()">enviar</button>
</div>

<h3>
    "else"
</h3>

<p> usa uma tag chamada ng-template e é chamada da seguinte maneira: *ngIf="condição else id" o ng-template tem que ter esse id</p>

<div>
    <p><span *ngIf="emailSubmit2 else naoEnviado">email enviado com sucesso</span>{{email2}}</p> <br/>
        <ng-template #naoEnviado>email Não enviado</ng-template>
    <input (input)="tradeEmail2($event)"/>
    <button (click)="onSubmit2()">enviar</button>
</div>

<h2>Style</h2>

<p> é uma propriety biding </p>
<p [ngStyle]="{color: Cor }" >muda cor</p>

<button (click)="mudaCor(0)">verde</button>
<button (click)="mudaCor(1)">azul</button>
<button (click)="mudaCor(2)">vermelho</button>
<button (click)="mudaCor(3)">amarelo</button>

<h2>For</h2>

<h3>*ngFor</h3>

<p>
    *ngFor=" let variavelLocal of vriavelNoType"
    
</p>

<p>
    itens de uma lista: <span *ngFor="let prod of produtos"> {{prod}}</span>
</p>