<form>
    <div class="form-group">
        <label for="title">Título</label>
        <input placeholder="Digite o titulo" required/>
    </div>
    <div class="form-group">
        <label for="description">Descrição</label>
        <textarea placehoder="Conte o que aconteceu" requires> </textarea>
    </div>
    <div class="form-group">
        <label for="image">Coloque a imgaem que mais te agrada</label>
        <input type="file"/>
    </div>
    <input type="submit" value="{{btnText}}">
</form>