<div class="justify-content-center grid">
    <div class="col-10 md:col-4 sm:col-6  card">
        <p-card>
            <div class="grid">
                <div class="col-12 text-center">
                    <div class="icon-car">
                        <img src={{image}} />
                    </div>
                    <h2 >Car Sales</h2>
                </div>
                <div class="col-12">
                    <label>Usuário:</label>
                    <input  type="text" pInputText class="col-12" [(ngModel)] = "requestLogin.login" />
                </div>
                <div class="col-12">
                    <label>Senha: </label>
                    <input  type="password" pInputText class="col-12" [(ngModel)] = "requestLogin.password"/>
                </div>
                <div class="col-12">
                    <button (click)="doLogin()" pButton type="button" label="Entrar" class="col-12" ></button>
                </div>
            </div>
        </p-card>
    </div>
</div>
