.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-container h1{
    margin-bottom: 0.5em;
}

.moments-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.moment{
    width: 32%;
    padding: 20px;
    margin-bottom:1em;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.6);
}

.moment img{
    width: 100%;
    margin-bottom: 1em;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
}

.moment h3, .moment p{
    margin-bottom: 1em;
}

.moment .date{
    font-size: 0.7em;
    font-style:italic;
}

a{
    color: #dec129;
    padding: 0.3em 0.7em;
}

a:hover{
    background: #efefef;
}

.search-container{
    margin-bottom: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-container form{
    width: 30%;
    position: relative;
}

.search-container fa-icon{
    position: absolute;
    top: 8px;
    left: 8px;
}

.search-container input{
    padding: 0.5em;
    width: 100%;
    text-align: center;
}